<div class="shipping-chart">
  <div class="chart-wrapper">
    <div class="chart-main">
      <div class="chart-inner">
        <h3>Free Shipping On Orders Over $100</h3>
        <a class="char-close close" href="#"></a>
        {{ pages.shipping-policy.content }}
      </div>
    </div>
  </div>
</div>