<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="26px" viewBox="0 0 20 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.4 (67378) - http://www.bohemiancoding.com/sketch -->
    <title>pinterest-light</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="pinterest-light" transform="translate(-10.000000, -9.000000)">
            <g>
                <rect id="Rectangle" x="0" y="0" width="40" height="40"></rect>
                <path d="M10,18.3291817 C10,20.8981938 10.9669398,23.18331 13.0394195,24.0349978 C13.3793975,24.1744843 13.6835025,24.0399209 13.7821532,23.6608459 C13.850638,23.3991037 14.0128817,22.7377739 14.0846276,22.462083 C14.1840936,22.0879311 14.1457747,21.9566498 13.8710203,21.6300874 C13.2742245,20.9203475 12.8918511,20.0021985 12.8918511,18.700872 C12.8918511,14.9273534 15.697281,11.5484994 20.1985243,11.5484994 C24.1836859,11.5484994 26.3727528,13.9993583 26.3727528,17.2715462 C26.3727528,21.5775749 24.4788227,25.2124275 21.6685011,25.2124275 C20.1153642,25.2124275 18.953569,23.9201266 19.3261587,22.3357247 C19.7721251,20.4436321 20.6355224,18.4013864 20.6355224,17.0360603 C20.6355224,15.8135026 19.9832865,14.7944311 18.6347886,14.7944311 C17.0482247,14.7944311 15.7722881,16.4461147 15.7722881,18.6590261 C15.7722881,20.0694802 16.2459745,21.0220906 16.2459745,21.0220906 C16.2459745,21.0220906 14.621907,27.9480029 14.337369,29.1607144 C13.7707391,31.5762915 14.2525784,34.5366862 14.2933431,34.8353513 C14.3169867,35.0125811 14.5428234,35.0552475 14.6455505,34.9215046 C14.7923036,34.7286851 16.681342,32.3803898 17.325425,30.034556 C17.5064204,29.3699441 18.3681872,25.929552 18.3681872,25.929552 C18.8842689,26.9190852 20.3909339,27.7904652 21.9929885,27.7904652 C26.7640944,27.7904652 30,23.4138729 30,17.5554422 C30,13.1255168 26.2716563,9 20.6053565,9 C13.5555012,9 10,14.0871527 10,18.3291817 Z" id="Shape" fill="#000000"></path>
            </g>
        </g>
    </g>
</svg>