<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="23px" viewBox="0 0 32 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.4 (67378) - http://www.bohemiancoding.com/sketch -->
    <title>Group 4</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="footer-/-email" transform="translate(-4.000000, -9.000000)" fill="#FFFFFF">
            <g id="Group-4" transform="translate(4.000000, 9.000000)">
                <path d="M3.036,1.5565 C2.209,1.5565 1.536,2.2295 1.536,3.0565 L1.536,20.1035 C1.536,20.9305 2.209,21.6035 3.036,21.6035 L29.048,21.6035 C29.875,21.6035 30.548,20.9305 30.548,20.1035 L30.548,3.0565 C30.548,2.2295 29.875,1.5565 29.048,1.5565 L3.036,1.5565 Z M29.048,22.6035 L3.036,22.6035 C1.657,22.6035 0.536,21.4825 0.536,20.1035 L0.536,3.0565 C0.536,1.6785 1.657,0.5565 3.036,0.5565 L29.048,0.5565 C30.427,0.5565 31.548,1.6785 31.548,3.0565 L31.548,20.1035 C31.548,21.4825 30.427,22.6035 29.048,22.6035 Z" id="Fill-1"></path>
                <path d="M16.0418,14.0927 C15.3768,14.0927 14.7118,13.8717 14.2058,13.4307 L1.4278,2.2927 C1.2188,2.1117 1.1968,1.7957 1.3788,1.5877 C1.5598,1.3777 1.8748,1.3577 2.0838,1.5387 L14.8618,12.6767 C15.5028,13.2347 16.5808,13.2347 17.2218,12.6767 L29.9968,1.5397 C30.2038,1.3597 30.5208,1.3797 30.7018,1.5887 C30.8838,1.7967 30.8618,2.1127 30.6528,2.2937 L17.8778,13.4307 C17.3718,13.8717 16.7068,14.0927 16.0418,14.0927" id="Fill-3"></path>
            </g>
        </g>
    </g>
</svg>