<?xml version="1.0" encoding="UTF-8"?>
<svg width="21px" height="18px" viewBox="0 0 21 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.4 (67378) - http://www.bohemiancoding.com/sketch -->
    <title>twitter</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="twitter" transform="translate(-10.000000, -12.000000)">
            <g>
                <rect id="Rectangle" x="0" y="0" width="40" height="40"></rect>
                <path d="M28.526149,14.8457316 C29.4160944,14.2841254 30.0989611,13.3936155 30.41944,12.3328037 C29.5861948,12.8541095 28.6654341,13.2311137 27.6830428,13.4352159 C26.899102,12.5512061 25.7786582,12 24.5386512,12 C22.1597112,12 20.231907,14.0345226 20.231907,16.5435505 C20.231907,16.8997544 20.2676528,17.2468583 20.3416094,17.578362 C16.762106,17.3885599 13.5881317,15.5815398 11.4618771,12.8307092 C11.0908611,13.5041167 10.8788519,14.2841254 10.8788519,15.1161346 C10.8788519,16.6917521 11.6393731,18.0827676 12.7955626,18.8991767 C12.0892763,18.8757764 11.4248987,18.6690741 10.8431062,18.3310703 L10.8431062,18.386971 C10.8431062,20.5891954 12.3271703,22.4261158 14.3005811,22.8421205 C13.9381933,22.9487217 13.558549,23.0020222 13.1641134,23.0020222 C12.8867758,23.0020222 12.6156013,22.9747219 12.3542877,22.9214213 C12.9015672,24.7258414 14.4928685,26.041456 16.3787639,26.0765564 C14.9033281,27.29597 13.0457827,28.021378 11.0279979,28.021378 C10.6804015,28.021378 10.3365029,28.0018778 10,27.9589773 C11.9068498,29.2472916 14.1711569,30 16.6043317,30 C24.5300229,30 28.8614193,23.0761231 28.8614193,17.0713563 C28.8614193,16.8737542 28.858954,16.677452 28.8503258,16.4837498 C29.6921993,15.8428427 30.4243705,15.0420338 31,14.1307237 C30.2271527,14.4921277 29.3963726,14.7365304 28.526149,14.8457316 Z" id="Shape" fill="#000000"></path>
            </g>
        </g>
    </g>
</svg>