<?xml version="1.0" encoding="UTF-8"?>
<svg width="34px" height="35px" viewBox="0 0 34 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.4 (67378) - http://www.bohemiancoding.com/sketch -->
    <title>Group 5</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="footer-/-tech" transform="translate(-3.000000, -3.000000)" fill="#FFFFFF">
            <g id="Group-5" transform="translate(3.000000, 3.000000)">
                <path d="M24.2259,1.9501 C22.0029,1.9501 19.9139,2.8151 18.3429,4.3851 C15.9049,6.8241 15.2229,10.4471 16.6079,13.6141 C16.6969,13.8161 16.6419,14.0531 16.4739,14.1951 L2.4989,26.0821 C0.8959,27.6891 0.8949,30.3481 2.5289,31.9821 C3.3209,32.7741 4.3719,33.2101 5.4919,33.2101 C6.6109,33.2101 7.6639,32.7741 8.4549,31.9821 L20.3159,18.0351 C20.4589,17.8661 20.6949,17.8111 20.8969,17.9011 C21.9579,18.3651 23.0859,18.6001 24.2489,18.6001 C26.4699,18.6011 28.5569,17.7371 30.1249,16.1681 C32.2529,14.0401 33.0509,10.9301 32.2599,8.0571 L26.6059,13.7111 C26.5119,13.8051 26.3849,13.8571 26.2519,13.8571 C26.1199,13.8571 25.9929,13.8051 25.8989,13.7111 L20.7999,8.6111 C20.6049,8.4161 20.6049,8.0991 20.7999,7.9041 L26.4539,2.2511 C25.7299,2.0511 24.9839,1.9501 24.2259,1.9501 M5.4919,34.2101 C4.1059,34.2101 2.8019,33.6701 1.8219,32.6891 C-0.2021,30.6661 -0.2021,27.3731 1.8219,25.3471 L15.5479,13.6701 C14.1929,10.2071 14.9929,6.3221 17.6359,3.6781 C19.3959,1.9191 21.7369,0.9501 24.2259,0.9501 C25.3719,0.9501 26.4929,1.1561 27.5599,1.5611 C27.7179,1.6221 27.8349,1.7591 27.8719,1.9251 C27.9069,2.0911 27.8559,2.2621 27.7359,2.3831 L21.8609,8.2581 L26.2519,12.6501 L32.1279,6.7751 C32.2479,6.6551 32.4229,6.6071 32.5859,6.6391 C32.7519,6.6761 32.8889,6.7931 32.9499,6.9511 C34.2559,10.3871 33.4249,14.2821 30.8319,16.8751 C29.0759,18.6331 26.7369,19.6001 24.2489,19.6001 C23.0729,19.6001 21.9279,19.3861 20.8419,18.9611 L9.1899,32.6601 C8.1809,33.6701 6.8779,34.2101 5.4919,34.2101" id="Fill-31"></path>
                <path d="M6.5985,29.8632 C6.0595,30.4022 5.1855,30.4022 4.6475,29.8632 C4.1085,29.3242 4.1085,28.4512 4.6475,27.9122 C5.1855,27.3732 6.0595,27.3732 6.5985,27.9122 C7.1365,28.4512 7.1365,29.3242 6.5985,29.8632" id="Fill-33"></path>
            </g>
        </g>
    </g>
</svg>