<?xml version="1.0" encoding="UTF-8"?>
<svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.4 (67378) - http://www.bohemiancoding.com/sketch -->
    <title>search</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="icon-/-search" transform="translate(-2.000000, -2.000000)" stroke="#FFFFFF">
            <g id="search" transform="translate(3.000000, 3.000000)">
                <circle id="Oval" cx="7" cy="7" r="7"></circle>
                <path d="M12.156,12.156 L17.5,17.5" id="Path"></path>
            </g>
        </g>
    </g>
</svg>