<?xml version="1.0" encoding="UTF-8"?>
<svg width="14px" height="21px" viewBox="0 0 14 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.4 (67378) - http://www.bohemiancoding.com/sketch -->
    <title>tumblr</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="tumblr" transform="translate(-13.000000, -9.000000)">
            <g>
                <rect id="Rectangle" x="0" y="0" width="40" height="40"></rect>
                <path d="M20.4823636,9 L20.4823636,14.2531111 L25.6178182,14.2531111 L25.6178182,17.5164444 L20.4823636,17.5164444 L20.4823636,22.8465556 C20.4823636,24.0528889 20.5485455,24.8265556 20.6809091,25.1663333 C20.8132727,25.511 21.0601818,25.7835556 21.4241818,25.9876667 C21.9014545,26.2638889 22.4487273,26.4007778 23.066,26.4007778 C24.1618182,26.4007778 25.2512727,26.0573333 26.3356364,25.3741111 L26.3356364,28.6545556 C25.4103636,29.0701111 24.5741818,29.3646667 23.8245455,29.5333333 C23.0736364,29.7032222 22.2629091,29.7863333 21.3923636,29.7863333 C20.4009091,29.7863333 19.5265455,29.6665556 18.7667273,29.427 C18.0069091,29.185 17.3578182,28.8452222 16.822,28.4003333 C16.2849091,27.9566667 15.9107273,27.4824444 15.7045455,26.9825556 C15.4970909,26.4826667 15.394,25.7578889 15.394,24.807 L15.394,17.5164444 L13,17.5164444 L13,14.5745556 C13.8527273,14.3093333 14.5794545,13.928 15.1865455,13.4342222 C15.7910909,12.9392222 16.2798182,12.344 16.6450909,11.6485556 C17.0116364,10.9555556 17.2649091,10.0718889 17.4036364,9 L20.4823636,9" id="Shape" fill="#000000"></path>
            </g>
        </g>
    </g>
</svg>