<?xml version="1.0" encoding="UTF-8"?>
<svg width="54px" height="48px" viewBox="0 0 54 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.4 (67378) - http://www.bohemiancoding.com/sketch -->
    <title>like-1</title>
    <desc>Created with Sketch.</desc>
    <g id="PDP-exploration" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="PDP-Handlebars" transform="translate(-293.000000, -2317.000000)" stroke="#000000" stroke-width="1.5">
            <g id="Group-36" transform="translate(157.000000, 2287.000000)">
                <g id="like-1" transform="translate(137.000000, 31.000000)">
                    <path d="M44.0869565,31.2777377 C45.2985529,31.2777377 46.4181142,31.9245242 47.0239124,32.974459 C47.6297106,34.0243938 47.6297106,35.3179669 47.0239124,36.3679017 C46.4181142,37.4178365 45.2985529,38.064623 44.0869565,38.064623 L41.826087,38.064623 C43.6990526,38.064623 45.2173913,39.583919 45.2173913,41.4580656 C45.2173913,43.3335082 43.698087,43.7203607 41.826087,43.7203607 L27.1304348,43.7203607 C20.6846957,43.7203607 19.2173913,42.5892131 11.3043478,41.4580656 L11.3043478,22.2285574 C16.8434783,22.2285574 26,12.0482295 26,2.99904918 C26,-0.577639344 30.9490435,-1.91013115 32.7826087,4.62563934 C33.9130435,8.65478689 30.5217391,16.5728197 30.5217391,16.5728197 L48.6086957,16.5728197 C50.4816613,16.5728197 52,18.0921157 52,19.9662623 C52,21.8417049 50.4806957,24.4908525 48.6086957,24.4908525 L46.3478261,24.4908525 C48.2207918,24.4908525 49.7391304,26.0101485 49.7391304,27.8842951 C49.7391304,29.7584417 48.2207918,31.2777377 46.3478261,31.2777377 L44.0869565,31.2777377" id="Path"></path>
                    <rect id="Rectangle" x="0" y="18.8351148" width="11.3043478" height="27.147541"></rect>
                    <path d="" id="Path"></path>
                    <path d="M6.2173913,40.326918 C5.90523036,40.326918 5.65217391,40.580134 5.65217391,40.8924918 C5.65217391,41.2048496 5.90523036,41.4580656 6.2173913,41.4580656 C6.52955225,41.4580656 6.7826087,41.2048496 6.7826087,40.8924918 C6.7826087,40.580134 6.52955225,40.326918 6.2173913,40.326918" id="Path" opacity="0.699999988"></path>
                </g>
            </g>
        </g>
    </g>
</svg>