<?xml version="1.0" encoding="UTF-8"?>
<svg width="37px" height="34px" viewBox="0 0 37 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.4 (67378) - http://www.bohemiancoding.com/sketch -->
    <title>phone-vibrate</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="-4.06575815e-20 0.1698 0.9998 0.1698 0.9998 6.6698 -4.06575815e-20 6.6698"></polygon>
    </defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Footer---items" transform="translate(-22.000000, -33.000000)">
            <g id="phone-vibrate" transform="translate(20.000000, 30.000000)">
                <g id="footer-/-phone">
                    <g id="Group-2" transform="translate(2.000000, 3.000000)">
                        <path d="M11.4217,1.08 C9.4917,1.08 7.9217,2.65 7.9217,4.58 L7.9217,28.58 C7.9217,30.51 9.4917,32.08 11.4217,32.08 L25.4217,32.08 C27.3517,32.08 28.9217,30.51 28.9217,28.58 L28.9217,4.58 C28.9217,2.65 27.3517,1.08 25.4217,1.08 L11.4217,1.08 Z M25.4217,33.08 L11.4217,33.08 C8.9407,33.08 6.9217,31.061 6.9217,28.58 L6.9217,4.58 C6.9217,2.099 8.9407,0.08 11.4217,0.08 L25.4217,0.08 C27.9027,0.08 29.9217,2.099 29.9217,4.58 L29.9217,28.58 C29.9217,31.061 27.9027,33.08 25.4217,33.08 Z" id="Fill-5" fill="#FFFFFF"></path>
                        <path d="M11.9217,4.08 C11.3697,4.08 10.9217,4.528 10.9217,5.08 L10.9217,24.08 C10.9217,24.632 11.3697,25.08 11.9217,25.08 L24.9217,25.08 C25.4737,25.08 25.9217,24.632 25.9217,24.08 L25.9217,5.08 C25.9217,4.528 25.4737,4.08 24.9217,4.08 L11.9217,4.08 Z M24.9217,26.08 L11.9217,26.08 C10.8187,26.08 9.9217,25.183 9.9217,24.08 L9.9217,5.08 C9.9217,3.977 10.8187,3.08 11.9217,3.08 L24.9217,3.08 C26.0247,3.08 26.9217,3.977 26.9217,5.08 L26.9217,24.08 C26.9217,25.183 26.0247,26.08 24.9217,26.08 Z" id="Fill-7" fill="#FFFFFF"></path>
                        <path d="M18.4207,30.2089 C17.8157,30.2089 17.3227,29.7159 17.3227,29.1099 C17.3227,28.5049 17.8157,28.0129 18.4207,28.0129 C19.0257,28.0129 19.5197,28.5049 19.5197,29.1099 C19.5197,29.7159 19.0257,30.2089 18.4207,30.2089" id="Fill-9" fill="#FFFFFF"></path>
                        <path d="M33.0936,22.33 C32.8176,22.33 32.5936,22.106 32.5936,21.83 L32.5936,11.33 C32.5936,11.054 32.8176,10.83 33.0936,10.83 C33.3696,10.83 33.5936,11.054 33.5936,11.33 L33.5936,21.83 C33.5936,22.106 33.3696,22.33 33.0936,22.33" id="Fill-11" fill="#FFFFFF"></path>
                        <path d="M36.3436,19.83 C36.0676,19.83 35.8436,19.606 35.8436,19.33 L35.8436,13.83 C35.8436,13.554 36.0676,13.33 36.3436,13.33 C36.6196,13.33 36.8436,13.554 36.8436,13.83 L36.8436,19.33 C36.8436,19.606 36.6196,19.83 36.3436,19.83" id="Fill-13" fill="#FFFFFF"></path>
                        <path d="M3.7498,22.33 C3.4738,22.33 3.2498,22.106 3.2498,21.83 L3.2498,11.33 C3.2498,11.054 3.4738,10.83 3.7498,10.83 C4.0258,10.83 4.2498,11.054 4.2498,11.33 L4.2498,21.83 C4.2498,22.106 4.0258,22.33 3.7498,22.33" id="Fill-15" fill="#FFFFFF"></path>
                        <g id="Group-19" transform="translate(0.000000, 13.160200)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="Clip-18"></g>
                            <path d="M0.4998,6.6698 C0.2238,6.6698 -0.0002,6.4458 -0.0002,6.1698 L-0.0002,0.6698 C-0.0002,0.3938 0.2238,0.1698 0.4998,0.1698 C0.7758,0.1698 0.9998,0.3938 0.9998,0.6698 L0.9998,6.1698 C0.9998,6.4458 0.7758,6.6698 0.4998,6.6698" id="Fill-17" fill="#FFFFFF" mask="url(#mask-2)"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>