{% assign has_billboard = false %}
{% for tag in product.tags %}
  {% if tag == 'has-billboard' %}
    {% assign has_billboard = true %}
  {% endif %}
{% endfor %}

{% assign image_to_show = section.settings.fullwidth_product_image | img_url: 'master' %}
{% if has_billboard %}
  {% assign image_to_show = product.images.last | img_url: 'master' %}
{% endif %}

{% if section.settings.fullwidth_image_enabled %}
    <section class="full-width-image">
        <div class="f-img-col wow fadeInUp" data-wow-duration="2s">
            <img src="{{ image_to_show }}"/>
        </div>
    </section>
{% endif %}

{% schema %}
  {
    "name": "Full Width Image",
    "settings": [
     {
        "type": "checkbox",
        "id": "fullwidth_image_enabled",
        "label": "Full Width Image",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "fullwidth_product_image",
        "label": "Image"
      }

    ]
  }
{% endschema %}

